<html>
    <header>
        <h1 style="text-align: center;">Assignment 1</h1>       
    </header>
    <body>
        <div style="text-align: center;">
        <form action = "/salary" method = "post">
            <p>Enter MinSalary:</p>
            <p><input type = "text" name = "sal"></p>
            <p>Enter MaxSalary:</p>
            <p><input type = "text" name = "sal1"></p>
            <p><input type ="submit" value="submit"></p>
          
        </form>
        </div>
    </body>
</html>