<html>
    <header>
        <h1 style="text-align: center;">Assignment 1</h1>       
    </header>
    <body>
        <div style="text-align: center;">
        <form action = "/update" method = "post">
            <p>Enter Name:</p>
            <p><input type = "text" name = "name"></p>
            <p>Enter Salary:</p>
            <p><input type = "text" name = "sal"></p>
            <p>Enter Keywords:</p>
            <p><input type = "text" name = "word"></p>
            <p><input type ="submit" value ="Submit"></p>
        </form>
        </div>
        <div align="center">
           <p>{{errors}}</p>
        </div>
        <div style="text-align: center;">
            <a href="get_delete">Delete</a>
        </div>
    </body>
</html>