<html>
    <header>
        <h1>Kuang Zou</h1>
	  <h1>01155</h1> 
      </header>
    <body>
        <form action = "/update" method = "post">
            <form action = "/update" method = "post">
                <p>Enter Teln:</p>
                <p><input type = "text" name = "teln"></p>
                <p>Enter descript:</p>
                <p><input type = "text" name = "text"></p>
                <p><input type ="submit" name ="Submit"></p>
          
        </form>
    </body>
</html>