<html>
    <header>
      <h1>Kuang Zou</h1>
	  <h1>01155</h1> 
    </header>
    <body>
        <form action = "/user" method = "post">
            <img id="picture" src="data:image/jpeg;base64,{{ photo_name }}"> <br>        
            If you want to give a room<picture></picture><a href="get_room">Click Here</a> <br>
            If you want to give a teln number range<picture></picture><a href="get_number">Click Here</a> <br>
            If you want to add a new teln<picture></picture><a href="nameinc">Click Here</a><br>
            
        </form>
    </body>
</html>
