
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Table </title>              
    </head>
    <body>
        <div align="center">
            <h1>People</h1>
            <table>
                <!--Displaying the converted table-->
                    {% for table in tables %}         
                    {{ table|safe }}
                    {% endfor %}      
            </table>
        </div>
        <div style="text-align: center;">
            {% for photo in photo_name %}         
            <img src="../{{photo}}"><br>
            {% endfor %} 
        </div>
    </body>
</html>